$bg-body: hsl(217, 54%, 11%);
$bg-card: hsl(216, 50%, 16%);
$bg-overlay:  hsl(178, 100%, 50%, .5);
$color-hover:  hsl(178, 100%, 50%);
$color-font-primary: hsl(0, 0%, 100%);
$color-font-secondary: hsla(0, 0%, 100%, .5);
$color-line: hsl(215, 32%, 27%);
$font-family: 'Outfit', sans-serif;